<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册界面</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/registration.css">
</head>
<body>
    <div>
        <div class="title">信息注册</div>
        <div class="main wrapper">
            <h2>请输入您的账户信息</h2>
            <div class="base-information">
                <div class="infor-left">
                    <p><i>*</i>用户名(9可以是字母、数字、下划线,至少8位)</p>
                    <input type="text" placeholder="请输入用户名">
                    <p><i>*</i>密码(6-8位,且包含两种特殊符号)</p>
                    <input type="password" placeholder="请输入密码">
                    <p><i>*</i>确认密码（请再次输入密码）</p>
                    <input type="password" placeholder="请输入密码">
                    <p><i>*</i>邮箱</p>
                    <input type="text" placeholder="请输入邮箱地址">
                </div>
                <div class="infor-right">
                    <p><i>*</i>真实姓名</p>
                    <input type="text" placeholder="请输入正确姓名">
                    <p><i>*</i>地区</p>
                    <input type="text" placeholder="请输入地区">
                    <p><i>*</i>证件类型</p>
                    <input type="password" placeholder="中国居民身份证//此处或有选择">
                    <p><i>*</i>证件号</p>
                    <input type="text" placeholder="请输入证件号码">

                </div>
            </div>
            <h2>请填写并验证您的手机信息</h2>
            <div class="authentication">
                <div class="auth-left">

                </div>
                <div class="auth-right">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>