.sort-container {
    /* 水平均匀分布 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort-list {
    /* 垂直分布 */
    display: flex;
    flex-direction: row;
    /* 均匀分布 */
    justify-content: space-between;
    /* 数值方向保持顶格 */
    align-items: flex-start;
    /* 超出太多时换行 */
    flex-wrap: wrap;
}

/* 对内部的li进行样式设计 */
.sort-list li{
    list-style: none;
    margin-bottom: 0 10px;    
}
