/* 按钮基础样式 */
.btn {
    padding: 5px 10px;

    height: 35px;
    background-color: #409EFF;

    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #2a88e6;
}
/* 提示信息统一样式 */
p {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}
i {
    color: red;
}
/* 输入框统一样式 */
input {
    padding: 7px 5px;
    width: 370px;
    height: 40px;
    
    font-size: 20px;
    color: #aaadad;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

/* 首页样式 */
/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
body {
    height: 400px;
    background: #282a37;
    background-size: cover;
}

/* 主体部分 */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    padding: 0 20px 24px 20px;

    width: 565px;
    height: 460px;
    background: #3e404d;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
/* 标题 */
.main h2 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
}

/***************** 输入账户信息 ****************/
.base-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}
.base-information .infor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-right: -65px;
    padding-top: 4px;
    padding-left: 30px;

    width: 490px;
    height: 310px;

    border-radius: 10px;
}
.base-information .infor p {
    color: #fff;
}
.base-information .infor div {
    display: flex;
    justify-content: space-between;

    margin-right: 25px;
    padding-top: 4px;
    width: 350px;
    border-radius: 10px;
}

/* 密码填写框与显示按钮 */
.password-input {
    display: flex;
    justify-content: space-between;
}
.decration {
    margin-right: 10px;

    width: 33px;
    background-color: rgba(255, 255, 255, 1);

    border-radius:0 5px 5px 0 ;
}
/* 密码显示按钮 */
.password-input #showPassword-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  width: 33px;
  background-color: rgba(255, 255, 255, 1);
  
  border: none;
  border-radius:0 5px 5px 0 ;
  cursor: pointer;
}
#showPassword-btn .icon-browse {
    display: none;
    font-size: 24px;
    color: #000;
}
#showPassword-btn .icon-eye-close{
    display: none;
    font-size: 24px;
    color: #000;
}

/* 确认密码显示按钮 */
.password-input #showConfirmPassword-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    width: 33px;
    background-color: rgba(255, 255, 255, 1);
    
    border: none;
    border-radius:0 5px 5px 0;
    cursor: pointer;
}
#showConfirmPassword-btn .icon-eye-close {
    display: none;
    font-size: 24px;
    color: #000;
}
#showConfirmPassword-btn .icon-browse { 
    display: none;
    font-size: 24px;
    color: #000;
}

/*用户信息区按钮*/
/* 注册按钮  */
.main .confirm-btn  {
    margin-left: 10px;
    width: 119px;
    height: 45px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    border: none;
}
.login-btn {
    display: block;
    margin-top: -10px;
    margin-right: 252px;
    margin-bottom: 10px;

    font-size: 17px;
    color: #3edca7;
}
/***************** 输入验证信息 ****************/
/* 绑定手机号 */
#authentication {
    display: none;
    flex-direction: column;
    align-content: center;
    margin-top: -36px;
 
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000;

    padding: 10px 20px;
    width: 440px;
    background: #3e404d;
    border-radius: 10px;
}
#authentication input,p {
    margin-left: 15px;
    border-radius: 5px;
}
#phone, #smsCode {
    margin-bottom: 19px;
}
.back-line {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
/* 获取验证码按钮  */
.get-code-btn {
    margin-left: 155px;
    width: 127px;
    height: 33px;

    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    border: none;
}
/* 关闭按钮  */
.close-btn {
    font-size: 17px;
    font-weight: 400;
    color: #3edca7;
    cursor: pointer;
}
/* 注册按钮 */
.register-btn {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
}

/* 输入错误提醒 */
.input-error {
    display: none;
    width: 150px;
    border-color: red;
}
/* 错误提示样式 */
.error-message {
    display: none; 
    margin-bottom: 10px;
    margin-top: 5px;
    
    font-size: 14px;
    color: red;
    text-align: center;
}

/* 加载动画 */
.loading {
    text-align: center;
    color: #165eff;
    font-weight: bold;
    margin: 10px 0;
}
#successMessage {
    display: none;
}
