<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网贷APP管理系统</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>    <!-- 实时数据图表 -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>
<body>
    <div class="container">
        <!-- 顶部导航栏区域 -->
        <div class="nav-bar">
            <div class="logo">
                <h1>网贷APP管理系统</h1>
            </div>
            <!-- 顶部导航栏 -->
            <ul class="nav-menu">
                <li class="nav-item">
                    <button class="nav-link active" data-target="loan-apply">
                        <span>代办审核</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-target="home-page">
                        <span class="iconfont icon-shouye-zhihui">首页</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-target="loan-management">
                        <span>贷款管理</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-target="user-management">
                        <span>用户管理</span>
                    </button>
                    
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-target="riskAndCollection-management">
                        <span>风险与催收管理</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-target="dataAndSystem-management">
                        数据统计与系统管理
                    <span></span>
                    </button>
                </li>
            </ul>
            <!-- 右侧管理员信息 -->
            <div class="header">
                <div class="admin-info">
                    <a href="#" class="iconfont icon-xiaoxi-zhihui"></a><i class="iconfont icon-user"></i>
                    <span>管理员XXX，您好！</span>
                    <button class="btn" id="logout-btn">退出登录</button>
                </div>
            </div>
        </div>
        <!-- 主体内容区域 -->
        <!-- 待办审核面板 -->
        <div class="loan-apply-dashboard dashboard active" id="loan-apply-content">
            <!-- 左侧子导航栏 -->
            <div class="side-bar">
                <ul>
                    <li class="side-item">
                        <button class="side-link active btn" data-target="loan-apply">代办审核</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                    <li class="side-item">
                        <button class="side-link btn" data-target="home-page">子功能</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容区域 -->
            <div class="main-content">
                <div class="header">
                    <h2 class="title">待办审核</h2>
                    <button class="batch-manage-btn" data-modal="loan-apply-modal">批量管理</button>
                </div>
                <!-- 待审核申请列表 -->
                <div class="apply-content">
                    <div class="apply-table">
                        <table id="apply-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>贷款人姓名</th>
                                    <th>贷款项目名</th>
                                    <th>贷款金额</th>
                                    <th>利率</th>
                                    <th>还款总时长</th>
                                    <th>分期期数</th>
                                    <th>还款方式</th>
                                    <th>状态</th>
                                    <th>申请时间</th>
                                    <th colspan="4">操作</th>
                                    <!-- <th>序号</th>
                                    <th>贷款人ID</th>
                                    <th>贷款项目ID</th>
                                    <th>贷款人姓名</th>
                                    <th>贷款人电话</th>
                                    <th>贷款项目名</th>
                                    <th>贷款金额</th>
                                    <th>利率</th>
                                    <th>还款总时长</th>
                                    <th>分期期数</th>
                                    <th>还款方式</th>
                                    <th>状态</th>
                                    <th>申请时间</th>
                                    <th>审核时间</th>
                                    <th>拒绝原因</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>  
                                    <td>张三</td>
                                    <td>在线</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>5</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>6</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>7</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                </tr>
                                <tr>
                                    <td>8</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">查看申请中贷款项目</button></td>
                                    <td><button class="">查看历史贷款项目</button></td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">删除</button></td>
                                <tr>
                                    <td>9</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>10</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>11</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>12</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>1</td>  
                                    <td>张三</td>
                                    <td>在线</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>5</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>6</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td> 
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>7</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>8</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                <tr>
                                    <td>9</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>10</td>  
                                    <td>张三</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>11</td>  
                                    <td>李四</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                                <tr>
                                    <td>12</td>  
                                    <td>王五</td>
                                    <td>是</td>
                                    <td>无借贷</td>
                                    <td>4</td>
                                    <td>1234</td>
                                    <td>1234</td>
                                    <td><button class="">加入黑名单</button></td>
                                    <td><button class="">标记为无风险</button></td>
                                    <td><button class="">标记为极高风险</button></td>
                                    <td><button class="">查看详情</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 分页控件 -->
                    <div class="pagination">
                        <button onclick="prevPage()">上一页</button>
                        <span id="page-info">第 <span id="current-page">1</span> 页，共 <span id="total-pages">10</span> 页</span>
                        <button onclick="nextPage()">下一页</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 首页面板 -->

        <!-- 贷款产品管理面板 -->
        <div class="loan-dashboard dashboard" id="loan-management-content">
            <!-- 左侧子导航栏 -->
            <div class="side-bar">
                <ul>
                    <li class="side-item">
                        <button class="side-link active btn" data-target="loan-apply">贷款管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                    <li class="side-item">
                        <button class="side-link btn" data-target="home-page">子功能</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容面板 -->
            <div class="main-content">
                <!-- 已有贷款项目分类 -->
                <div class="nav-product-type">
                    <ul class="nav-list">
                        <li><button>大额贷款</button></li>
                        <li><button>小额贷款</button></li>
                        <li><button>信用贷款</button></li>
                        <li><button>短期贷款</button></li>
                        <li><button>免息贷款</button></li>
                    </ul>
                    <button class="add-product-btn" data-modal="add-new-product">添加新项目</button>
                </div>
                <!-- 已有贷款项目 -->
                <div class="setted-loan-product">
                    <!-- 车贷 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">车贷管理</h3>
                            <button class="btn btn-primary" data-modal="user-modal">管理</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- 房贷 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">房贷管理</h3>
                            <button class="btn btn-primary" data-modal="risk-modal">管理</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- 大额贷款项目 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">大额贷款管理</h3>
                            <button class="btn btn-primary" data-modal="loan-modal">管理</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- 信用贷款项目 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">信用贷款管理</h3>
                            <button class="btn btn-primary" data-modal="collection-modal">管理</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- 其他贷款项目 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">其他贷款项目</h3>
                            <button class="btn btn-primary" data-modal="data-modal">查看</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- 房产抵押贷款项目 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">房产抵押贷款管理</h3>
                            <button class="btn btn-primary" data-modal="system-modal">设置</button>
                        </div>
                        <div class="card-content">
                            <ul class="feature-list">
                                <li class="feature-item">类别</li>
                                <li class="feature-item">额度</li>
                                <li class="feature-item">期限</li>
                                <li class="feature-item">状态</li>
                                <li class="feature-item">其他描述</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 用户管理面板 -->
        <div class="user-dashboard dashboard" id="user-management-content">
            <!-- 左侧子导航栏 -->
            <div class="side-bar">
                <ul>
                    <li class="side-item">
                        <button class="side-link active btn" data-target="loan-apply">用户管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                    <li class="side-item">
                        <button class="side-link btn" data-target="home-page">黑名单管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容面板 -->
            <div class="main-content">
                <div class="credit-search">
                    <input type="text" placeholder="请输入信誉分表达式，如: <100, >=80" id="creditExprInput">
                    <button class="btn btn-primary" id="credit-search-btn">查询</button>
                </div>
                <div class="table-header">
                    <h2 class="table-title">用户列表</h2>
                    <button class="batch-manage-btn" data-modal="user-modal">批量管理</button>
                    </div>
                    <hr>
                <div class="table-body">
                    <table>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>是否在线</th>
                                <th>目前借贷情况</th>
                                <th>总交易笔数</th>
                                <th>总贷款金额</th>
                                <th>总还款金额</th>
                                <th colspan="4">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>  
                                <td>张三</td>
                                <td>在线</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>2</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>3</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>4</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>5</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>6</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>7</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            </tr>
                            <tr>
                                <td>8</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">查看申请中贷款项目</button></td>
                                <td><button class="">查看历史贷款项目</button></td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">删除</button></td>
                            <tr>
                                <td>9</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>10</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>11</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>12</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>1</td>  
                                <td>张三</td>
                                <td>在线</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>2</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>3</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>4</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>5</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>6</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td> 
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>7</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>8</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            <tr>
                                <td>9</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>10</td>  
                                <td>张三</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>11</td>  
                                <td>李四</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                            <tr>
                                <td>12</td>  
                                <td>王五</td>
                                <td>是</td>
                                <td>无借贷</td>
                                <td>4</td>
                                <td>1234</td>
                                <td>1234</td>
                                <td><button class="">加入黑名单</button></td>
                                <td><button class="">标记为无风险</button></td>
                                <td><button class="">标记为极高风险</button></td>
                                <td><button class="">查看详情</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 风险与催收管理面板 -->
        <div class="risk-dashboard dashboard" id="riskAndCollection-management-content">
            <!-- 左侧子导航栏 -->
            <div class="side-bar">
                <ul>
                    <li class="side-item">
                        <button class="side-link active btn" data-target="loan-apply">风险管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                    <li class="side-item">
                        <button class="side-link btn" data-target="home-page">催收管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容面板 -->
            <div class="main-content">
            </div>
        </div>

        <!-- 数据统计与系统管理面板 -->
        <div class="data-dashboard dashboard" id="dataAndSystem-management-content"> 
            <!-- 左侧子导航栏 -->
            <div class="side-bar">
                <ul>
                    <li class="side-item">
                        <button class="side-link active btn" data-target="loan-apply">风险管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                    <li class="side-item">
                        <button class="side-link btn" data-target="home-page">催收管理</button>
                        <i class="iconfont icon-jinru"></i>
                    </li>
                </ul>
            </div>
            <!-- 右侧内容面板 -->
            <div class="main-content">
            </div>
        </div>
    </div>  
    <script src="../JS/indexApi.js"></script>
    <script src="../JS/index.js"></script>
</body>
</html>