<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/userCenter.css">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>
<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="wrapper">
            <!-- logo -->
            <img src="../static/images/logo.jpg" alt="" class="logo">
            <!-- 搜索区域 -->
            <div class="search">
                <input type="text" placeholder="输入内容查询">
                <button class="search-btn"><div class="iconfont icon-RectangleCopy"></div></button>
            </div>
            <!-- 导航区域 -->
            <ul class="nav">
                <li><a href="#"><span class="iconfont icon-xinfeng"></span></a></li>
                <li><button class="dark-btn"><span class="iconfont icon-dark"></span></button></li>
                <li><a href="#"><span class="iconfont icon-setting"></span></a></li>
            </ul>
        </div>
    </div>

    <!-- 主体区域 -->
    <div class="main">
        <!-- 左侧菜单 -->
        <div class="menu">
            <ul>
                <li><a href=""><span class="iconfont icon-zaixianxuanfang"></span>首页</a></li>
                <li><a href="">XXX页面</a></li>
                <li><a href="">XXX页面</a></li>
                <li><a href="">XXX页面</a></li>
                <li>
                    <span class="iconfont icon-geren">个人中心</span>
                    <div class="small-menu">
                        <a href="">· 用户信息</a><br>
                        <a href="">· 贷款项目管理</a><br>
                        <button class="log-out-btn">· 退出登录</button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 右侧信息展示 -->
        <div class="information">
            <h2><span class="iconfont icon-geren"></span>个人中心 用户信息</h2>
            <div class="display-area">
                <div class="profile">
                    <div class="pic">

                    </div>
                    <div>
                        <div class="name">
                            昵称/用户名
                        </div>
                        <div class="region">
                            <span class="iconfont icon-dingwei"></span>地区
                        </div>
                    </div>
                </div>
                <button class="iconfont icon-qianshuxieyi"></button>
            </div>
            <div class="details">
                <ul>
                    <li><span>姓名：XXX</span><span>性别：XXX</span><span>年龄：XXX</span></li>
                    <li><span>身份证号</span><span>XXXXXXXXXXX</span></li>
                    <li><span>当前绑定手机号</span><span>XXXXXXXXXXXX</span></li>
                    <li><span>邮箱号码</span><span>XXXXXXXXX</span></li>
                    <li><span>当前绑定银行卡</span><span>XXXXXXXXXX</span></li>
                    <li><span>工作认证</span><span class="iconfont icon-arrow-right"></span></li>
                    <li><span>工作认证</span><span class="iconfont icon-arrow-right"></span></li>
                    <li><span>工作认证</span><span class="iconfont icon-arrow-right"></span></li>
                    <li><span>工作认证</span><span class="iconfont icon-arrow-right"></span></li>
                </ul>
            </div> 
        </div>
    </div>
</body>
</html>