<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personal_loan.dao.UserMapper">
    <select id="selectUsersByCreditScore" resultType="com.example.personal_loan.dto.UserSearchDto">
        SELECT u.id,
            u.user_name AS name,
            u.phone,
            uc.credit_score AS creditScore,
            u.create_time AS createTime
        FROM users u
        INNER JOIN user_certification uc ON u.id = uc.user_id
        <where>
            <choose>
                <when test='operator == "&gt;"'>uc.credit_score &gt; #{value}</when>
                <when test='operator == "&gt;="'>uc.credit_score &gt;= #{value}</when>
                <when test='operator == "&lt;"'>uc.credit_score &lt; #{value}</when>
                <when test='operator == "&lt;="'>uc.credit_score &lt;= #{value}</when>
                <when test='operator == "="'>uc.credit_score = #{value}</when>
                <otherwise>uc.credit_score &gt; #{value}</otherwise>
            </choose>
        </where>
        ORDER BY uc.credit_score DESC
    </select>
</mapper>