@font-face {
  font-family: "iconfont"; /* Project id 5044179 */
  src: url('iconfont.woff2?t=1760877016225') format('woff2'),
       url('iconfont.woff?t=1760877016225') format('woff'),
       url('iconfont.ttf?t=1760877016225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-geren:before {
  content: "\e608";
}

.icon-xinfeng:before {
  content: "\e673";
}

.icon-xinfeng1:before {
  content: "\e61b";
}

.icon-xinfengyoujian:before {
  content: "\e6eb";
}

.icon-xinfeng2:before {
  content: "\e857";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-zhuanchezhuanyongbeifen:before {
  content: "\e604";
}

.icon-moon:before {
  content: "\e855";
}

.icon-biaoji1:before {
  content: "\e603";
}

.icon-dark:before {
  content: "\e838";
}

.icon-moon1:before {
  content: "\e600";
}

.icon-a-ziyuan8:before {
  content: "\e688";
}

.icon-qianshuxieyi:before {
  content: "\e61d";
}

.icon-zaixianxuanfang:before {
  content: "\e61f";
}

.icon-biaoji2:before {
  content: "\e681";
}

.icon-evening:before {
  content: "\e6f2";
}

.icon-Moon:before {
  content: "\e714";
}

.icon-shangchuan:before {
  content: "\e672";
}

.icon-shangchuan1:before {
  content: "\e631";
}

.icon-shangchuan2:before {
  content: "\e605";
}

.icon-biaoji:before {
  content: "\e663";
}

.icon-yueliang:before {
  content: "\e621";
}

